
streamlit==1.41.0
streamlit-aggrid==1.0.5
streamlit-chat==0.1.1
pysqlite3-binary==0.5.3



pandas==2.2.3


langchain==0.3.11

langgraph==0.2.58

openai==1.57.2

langchain-openai==0.2.12
langchain-core==0.3.24


langchain-community==0.3.11
langchain-chroma==0.1.4
chromadb==0.5.23
PyMySQL==1.1.1