

fastapi

pysqlite3-binary

pandas
langchain

langgraph

openai

langchain-openai
langchain-core

langchain-community
langchain-chroma
chromadb

pymysql

uvicorn
pydantic
sqlalchemy
psycopg2-binary
requests
python-multipart